 .u-section-1 {
  background-image: url("images/173605371-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-shape-1 {
  height: 326px;
  width: 466px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 91px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 377px;
  width: 527px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -269px auto 60px 61px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.25rem;
  font-family: Oswald, sans-serif;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 0 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-shape-1 {
    height: 349px;
    width: 499px;
  }

  .u-section-1 .u-group-1 {
    min-height: 400px;
    width: 529px;
    margin-top: -292px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-group-1 {
    min-height: 408px;
    width: 483px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-shape-1 {
    height: 344px;
    width: 301px;
  }

  .u-section-1 .u-group-1 {
    min-height: 377px;
    width: 301px;
    margin-top: -298px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 831px;
}

.u-section-2 .u-image-1 {
  min-height: 428px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/b75db546bf694a6f4dd2aec42e840ec7940aef3f8799a40cb55fc93e710803763110694b018330e22543867f39abfacdc7ab69a8bef8dd6f5fc689_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 105px 50px 0;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -140px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 399px;
  grid-gap: 16px;
}

.u-section-2 .u-list-item-1 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 50px;
}

.u-section-2 .u-group-2 {
  min-height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.0625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 50px;
}

.u-section-2 .u-group-3 {
  min-height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.0625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-3 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 50px;
}

.u-section-2 .u-group-4 {
  min-height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.0625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 50px;
}

.u-section-2 .u-group-5 {
  min-height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.0625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 48px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 798px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: -167px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 420px;
  }

  .u-section-2 .u-list-item-1 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-group-2 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-3 {
    transition-duration: 0.5s;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }

  .u-section-2 .u-list-item-2 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-group-3 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-5 {
    transition-duration: 0.5s;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }

  .u-section-2 .u-list-item-3 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-group-4 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-7 {
    transition-duration: 0.5s;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }

  .u-section-2 .u-list-item-4 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-group-5 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-9 {
    transition-duration: 0.5s;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-4 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1142px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -157px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 757px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1187px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
    font-size: 3.75rem;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -160px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 799px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1846px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -234px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1540px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-9,
.u-section-2 .u-text-9:before,
.u-section-2 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-9 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-text-9 {
  color: #ffffff !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-3 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-text-3 {
  color: #ffffff !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-5 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-text-5 {
  color: #ffffff !important;
}

.u-section-2 .u-text-7,
.u-section-2 .u-text-7:before,
.u-section-2 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-7 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-text-7 {
  color: #ffffff !important;
}

.u-section-2 .u-btn-4,
.u-section-2 .u-btn-4:before,
.u-section-2 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-btn-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-btn-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}