<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post"  enctype="multipart/form-data">
        <label for="img">Select video:</label>
        <input type="file" id="input" name="file" accept="video/*">
        <video id="video" width="320" height="240" controls style="display: none;"></video>
        <input type="submit" value="upload" autocomplete="off" required>
      </form>
</body>
</html>

<script>
    document.getElementById("input").addEventListener("change", function() {
  var media = URL.createObjectURL(this.files[0]);
  var video = document.getElementById("video");
  video.src = media;
  video.style.display = "block";
  video.play();
});
</script>


